@page "/ProductPage/{CurrentID}"
@using Services;
@using SharedItems.Models;
@inject ProductHttpService productService;

<h3>Product</h3>
@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <img src="/Images/placeholder.png" asp-append-version="true" width="300" height="300" />
        </div>
        <div class="col-md-4">
            <div><b>@product.Name</b></div>
            Desctiption: @product.Description <br>
            Price: @product.Price
        </div>
    </div>
    @if (product.PriceHistoryList != null)
    {
        @foreach (var historyItem in product.PriceHistoryList )
        {
            <div class="row">
                <div class="col-md-2">
                    @historyItem.Price.ToString();
                </div>
                <div class="col-md-2">
                    @historyItem.Date.ToString();
                </div>
            </div>
        }
    }

}


@code {
    [Parameter]
    public string CurrentID { get; set; }
    Product product;

    protected override async Task OnInitializedAsync()
    {
        product = await productService.GetProductById(Convert.ToUInt64(CurrentID));
    }
}
